@font-face {
  font-family: "MyCustomFont";
  src: url("../assets/fonts/muli/Muli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "MyCustomFont";
  font-weight: 900;
  font-size: 18px;
  height: 100px;
  background-color: white;
}

nav button {
  background: none;
  border: none;
  font-size: 15px;
  color: black;
  padding-left: 10px;
}
nav h1 {
  margin-left: 20px;
}
.btn{
  margin-right: 30px;
}